.landingpage-container {
    padding: 50px 0;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.large-text {
    text-align: center;
    color: whitesmoke;
    font-size: 4.5vw;
}

section .img {
    text-align: center;
    padding: 10%;
    border: 1px solid darkmagenta;
    max-width: 600px;
    margin: 20px auto;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

section .text {
    max-width: 600px;
    margin: 20px auto;
    color: darkmagenta;
}

section .text,
section .large-text {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.landingpage-container section {
    margin-bottom: 100px;
}